<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listar Tarefas</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'listar_tarefas' %}">Gerenciador de tarefas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'listar_tarefas' %}">Listar tarefas<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'deslogar_usuario' %}">Sair<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="container">
    {% block conteudo %}

    {% endblock conteudo %}
</div>
</body>
</html>